
<div class="text-center ">
    <h5>
        <a href="/chefs/all">Chefs</a> |
        <a href="/dishes/all">Dishes</a> |
        <a href="/chefs/new">Add a Chef</a> |
        <a href="/dishes/new">Add a Dish</a>
    </h5>
</div>
<br>
