@model Chef

@await Html.PartialAsync("_NavigationBar")

<div class="text-center">
    <h2>Add a chef</h2>
    <hr>
</div>
<div>
    <form
    asp-controller="Chef"
    asp-action="Create"
    method="POST"
    >
        <div>
            <label asp-for="FirstName"></label>
            <span asp-validation-for="FirstName"></span>
            <input asp-for="FirstName" />
        </div>
        <div>
            <label asp-for="LastName"></label>
            <span asp-validation-for="LastName"></span>
            <input asp-for="LastName" />
        </div>
        <div>
            <label asp-for="DateOfBirth"></label>
            <span asp-validation-for="DateOfBirth"></span>
            <input type="date" asp-for="DateOfBirth" />
        </div>
        <button class="btn btn-outline-primary">Add Chef</button>




    </form>

</div>